html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-image: url('../Images/Background MVP.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; /* Defina o posicionamento relativo */
}

/* Sobreposição para aplicar opacidade */
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0,18); /* Cor de fundo com opacidade */
}

.navbar {
    background-color: #5E7B80; /* Cor de fundo da barra de navegação */
}

.container {
    padding-top: 20px; /* Espaçamento acima do conteúdo */
    margin-bottom: 60px; /* Altura do footer */
    
}

footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff; /* Cor de fundo do footer */
    padding: 10px 0; /* Espaçamento interno do footer */
    text-align: center;
}

a.button {
    display: inline-block;
    padding: 5px 10px; /* Ajuste conforme necessário */
    background-color: #9AC0D5; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none;
    border-radius: 5px; /* Borda arredondada */
    text-decoration: none; /* Remova sublinhado */
    cursor: pointer; /* Mude o cursor ao passar por cima */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

    /* Estilo para links que parecem botões quando hover */
    a.button:hover {
        background-color: #8FD7FF; /* Cor de fundo mais escura ao passar o mouse */
    }

table {
    width: 100%;
    table-layout: auto;
}


h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    color: #6873A5; /* Cor do texto */
    text-transform: uppercase; /* Transforma todas as letras em maiúsculas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra do texto */    
    border-radius: 10px; /* Borda arredondada */
    
}

   

