@model Fiap.Web.MVPSaude.Models.PacienteModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Paciente - Editar</title>
</head>
<body>
    <h1>Paciente - Editar</h1>

    <!-- formulário HTML com Tag Helpers-->
    <form asp-action="Editar" asp-controller="Paciente" method="post">

        <!-- Campo oculto para guardar qual Id (chave) do registro alterado -->
        <input type="hidden" asp-for="PacienteId" />
        <div class="form-horizontal">
            <hr />

            <div class="form-group">
                <label>Nome:</label>
                <div class="col-md-10">
                    <!-- Caixa de Texto -->
                    <input asp-for="NomePaciente" />
                </div>
            </div>

            <div class="form-group">
                <label>Cpf:</label>
                <div class="col-md-10">
                    <!-- Caixa de Texto -->
                    <input asp-for="Cpf" />
                </div>
            </div>

            <div class="form-group">
                <label>Data Nascimento:</label>
                <div class="col-md-10">
                    <!-- Caixa de Texto -->
                    <input asp-for="DataNascimento" />
                </div>
            </div>

            <div class="form-group">
                <label>Gênero:</label>
                <div class="col-md-10">
                    <!-- Caixa de Texto -->
                    <input asp-for="Genero" />
                </div>
            </div>

            <div class="form-group">
                <label>Endereço:</label>
                <div class="col-md-10">
                    <!-- Caixa de Texto -->
                    <input asp-for="Endereco" />
                </div>
            </div>

            <div class="form-group">
                <label>Contato:</label>
                <div class="col-md-10">
                    <!-- Caixa de Texto -->
                    <input asp-for="Contato" />
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a asp-controller="Paciente" asp-action="Index" class="btn btn-warning">Voltar</a>
                    <input type="submit" value="Gravar" class="btn btn-primary" />
                </div>
            </div>
            <hr />
        </div>
    </form>

</body>
</html>
